.pigeonpost: {
    color: #bccbde;
}

.ziggurat: {
    color: #c2dde6;
}

.athensgrey: {
    color: #e6e9f0;
}

.grape: {
    color: #431c5d;
}

.hotcinnamon: {
    color: #e05915;
}

.keylimepie: {
    color: #cdd422;
}
